@{
    ViewData["Title"] = "Upload";
}

<div class="row">
    <div class="col-12">
        <form asp-action="Upload" asp-controller="Store" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Upload file</label>
                <input type="file" class="form-control-file" name="file" id="file" required />
                <br/>
                <div class="form-group">
                    <label for="hours-range">
                        Lifetime: <span id="hours-label">1</span> h
                    </label>
                    <input type="range" min="1" max="750" oninput="getRangeValue()" value="1"
                           step="1" class="form-control-range" id="hours-range">
                </div>
                <input hidden name="hours" value="1" id="hours-input" />
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
